<div class="container">

    <h4>Import</h4>

    <p>Import followed channels from twitch</p>

    <form class="single-entry" method="post" action="/import">
        <div class="clearfix">
            <input type="text" name="login" autofocus
                   placeholder="Twitch user login">
            <input type="submit" value="Import">
        </div>
        {{#each errors}}
            <div class="message error">
                {{msg}}
            </div>
        {{/each}}
    </form>

    {{#if result}}
        <div class="message success">
            Imported {{result.channels.length}} channels
        </div>
    {{/if}}

</div>
