<th>
    <a href="{{toggleSortLink}}">
        {{label}}
        {{#if sortAsc}}<span class="icon sort">&#x25B2;</span>{{/if}}
        {{#if sortDesc}}<span class="icon sort">&#x25BC;</span>{{/if}}
    </a>
</th>
