/* Basic */

body {
    margin-top: 10px;
    font-family: Roboto, serif;
}

a.nav-back {
    position: absolute;
}

/* Form */

form.inline {
    margin: 0;
    display: inline;
}

form.inline input {
    margin: 0;
}

form.single-entry input[type='text'] {
    display: block;
    float: left;
    width: initial;
}

form.single-entry input[type='submit'] {
    display: block;
    float: left;
    margin-left: 20px;
}

.message.error {
    color: lightcoral;
}

.message.success {
    color: lightgreen;
}

/* Navbar */

nav {
    border-bottom: solid 1px #eee;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

ul.navbar {
    list-style: none;
}

ul.navbar li {
    float: left;
    margin: 0 20px 0 0;
    text-transform: uppercase;
}


/* Page - channel list */
table.channels td {
    vertical-align: baseline;
}

table.channels td .button {
    margin: 0;
}

table.channels td.play {
    width: 30px
}

table.channels td.play input {
    position: absolute;
    cursor: pointer;
}

table.channels td.play img {
    position: absolute;
    cursor: pointer;
}

table.channels td.play form {
    display: none;
}

table.channels td.play:hover form {
    display: block;
}

table.channels td.actions {
    text-align: right;
    white-space: nowrap;
}

table.channels .logo {
    width: 35px;
    height: 35px;
}

.icon.play {
    opacity: 0.8;
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 1));
}
