/* Basic */

body {
    margin-top: 20px;
}

thead > tr {
    font-weight: bold;
}

/* Form */

form.inline {
    margin: 0;
    display: inline;
}

form.inline input {
    margin: 0;
}

.validation.error {
    color: lightcoral;
}

/* Page - channel list */
table.channels td {
    vertical-align: baseline;
}

table.channels td .button {
    margin: 0;
}

table.channels td.play {
    width: 20px
}

table.channels td.play input {
    position: absolute;
    cursor: pointer;
}

.icon.play {
    width: 32px;
    height: 32px;
}
